.App {
    text-align: center;
}

.split-screen {
    width: 100%;
    display: flex;
    margin: 25px 0px;
}

header {
    padding: 5%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    background: linear-gradient(to right, deeppink, yellow, dodgerblue, hotpink);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

footer {
    padding: 1%;
}

.footer-border {
    margin-left: 40%; /* Doing it this way because we are not using div or p tag inside the footer */
    margin-right: 40%;
    text-align: center;
    padding: 1%;
    border: 2px solid red;
    border-image: linear-gradient(to right, gray 0%, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%, teal 100%) 1;
}

